.App {
  text-align: center;
}

.main-bg {
  height: 310px;
  background-image: url("bg.jpeg");
  background-size: cover;
  background-position: center;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 1s;
}

.more-btn {
  margin: 30px 0;
}


